@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --primary: gold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 800px) {
}

@media (max-width: 1000px) {
  .content {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
}

body {
  /* min-height: 100vh; */
  /* background: url(Photos/bg3.jpg) no-repeat; */
  background: url(/Photos/watch.jpg);
  /* background-size: cover;
  background-position: center; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  */
}

.Product {
  padding: 8rem 7% 1.4rem;
}

.Product h2 {
  color: white;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.Product h2 span {
  color: var(--primary);
}

.Product h2 {
  margin-bottom: 1rem;
}

.Product p {
  color: white;
  text-align: center;
  max-width: 30rem;
  font-size: 1.3rem;
  margin: auto;
  font-weight: 3000;
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  font-size: large;
  font-style: inherit;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo-container {
  position: relative;
  text-decoration: none;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.logospan {
  color: gold;
}
.navigation a {
  position: relative;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover {
  color: var(--primary);
}
.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.grid {
  display: grid;
  margin-left: 5%;
  width: 90%;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 5%;
}

.card span {
  color: lightslategrey;
}
.card-btnspan {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 3rem;
  }
  .grid {
    grid-gap: 3rem;
  }
  header {
    font-size: 0.8rem;
  }
}
footer {
  background-color: slategrey;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credits {
  font-size: 0.8rem;
}

footer .credits a {
  color: var(--bg);
  font-weight: 700;
}
